/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 8
 * URL: http://LandingSumo.com
 * Version: 1.0
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 300;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px; 
	line-height: 28px;
	color: #666; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

/* FORM CONFIGURATION */

input {
	font-size: 18px;
	min-height: 40px;
	border-radius: 2px;
	line-height: 20px;
	padding: 11px 30px 12px;
	border: none;
	margin-bottom: 10px;
	background-color: #e9f0f2;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 70%;
	text-align: left;
	margin-right: 2px;
}

.subscribe-submit {
	right: 0;
}

.btn-green {
	background: #03C9A9;
	color: white;
	border-radius: 2px;
}

.btn-green:hover {
	background: #1BBC9B;
	color: white
}



/* HEADER SECTION */
#h {
	background: url(../img/header.jpg) no-repeat center top;
	padding-top: 200px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h h1 {
	font-weight: 900;
	color: #03C9A9;
	font-size: 90px;
}

#h h2 {
	color: #1BA39C;
}

/* CALL TO ACTION SECTION */

#cta {
	padding-bottom: 15px;
	padding-top: 15px;
	background: #2f2f2f;
}

#cta p {
	color: #f2f2f2;
	font-size: 16px;
}

/* White Section */
#w {
	padding-bottom: 50px;
	padding-top: 50px;
	color: #bfbfbf
}

#w i {
	color: #D2527F;
	margin-left: 5px;
	font-size: 16px;
}

/* Green Section */

#g {
	padding-bottom: 50px;
	padding-top: 50px;
	background: #03C9A9;
	min-height: 700px;
	color: white;
}

#g h1 {
	font-size: 80px;
	font-weight: 700;
	text-align: center;
}

#g p {
	color: white;
	font-size: 16px;
}

/* Red Section */

#r {
	background: #F62459;
	padding-bottom: 50px;
	padding-top: 50px;
	min-height: 700px;
	color: white;
}

#r h1 {
	font-size: 80px;
	font-weight: 700;
	text-align: center;
}

#r p {
	color: white;
	font-size: 16px;
}

/* Blue Section */

#b {
	background: #19B5FE;
	padding-bottom: 50px;
	padding-top: 50px;
	min-height: 700px;
	color: white;
}

#b h1 {
	font-size: 80px;
	font-weight: 700;
	text-align: center;
}

#b p {
	color: white;
	font-size: 16px;
}

/* FOOTER Section */

#f {
	padding-bottom: 50px;
	padding-top: 50px;
	background: #010101;
}

#f h3 {
	color: white;
}